Repository guswns1659/TeamRocket, pull requests merged in 2020-07, with the labels that each got.

#49 메인 화면 ui 구성
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll.xcodeproj/xcshareddata/xcschemes/EatUpAll.xcscheme
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Colors/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Colors/key_dark_gray.colorset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Colors/key_gray.colorset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Colors/key_green.colorset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Colors/key_light_gray.colorset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/logo.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/logo.imageset/logo_transparent.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/map.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/map.imageset/map.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/title.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/title.imageset/title.png
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.xib
Labels: enhancement, iOS

#50 network 기본 설정했습니다
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Error/NetworkError.swift
  iOS/EatUpAll/EatUpAll/Networks/NetworkDispatcher.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Request.swift
  iOS/EatUpAll/EatUpAll/Networks/Session+NetworkDispatcher.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/UseCase.swift
Labels: enhancement, iOS

#55 기부 화면 UI 및 마감 임박 프로젝트 CollectionView 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/plastic.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/plastic.imageset/photo-1495556650867-99590cea3657.jpeg
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/polarbear1.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/polarbear1.imageset/photo-1593946460607-d1570da6268f.jpeg
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/polarbear2.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/polarbear2.imageset/photo-1593946537961-421401bfb53c.jpeg
  iOS/EatUpAll/EatUpAll/Donation/CollectionViewDataSources/ClosingDonationProjectCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.xib
  iOS/EatUpAll/EatUpAll/Donation/Delegates/ClosingDonationProjectCollectionViewDelegate.swift
  iOS/EatUpAll/EatUpAll/Donation/Models/DonationProject.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCell.xib
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCollectionView.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.xib
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCollectionView.swift
  iOS/EatUpAll/EatUpAll/Extensions/UIView+Border.swift
  iOS/EatUpAll/EatUpAll/Extensions/UIView+Shadow.swift
  iOS/EatUpAll/EatUpAll/TabBar/TabBarViewController.swift
  iOS/EatUpAll/EatUpAll/ViewModel/ViewModelBinding.swift
Labels: enhancement, iOS

#59 전체 기부 프로젝트 CollectionView 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Donation/CollectionViewDataSources/DonationProjectCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.xib
  iOS/EatUpAll/EatUpAll/Donation/Delegates/WholeDonationProjectCollectionViewDelegate.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.xib
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCollectionView.swift
Labels: enhancement, iOS

#60 기부 셀들 업데이트 로직 구현
  iOS/EatUpAll/EatUpAll/Donation/CollectionViewDataSources/DonationProjectCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCell.xib
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.xib
Labels: enhancement, iOS

#62 홈, 기부화면 UI 및 네트워크 설정
  iOS/.gitignore
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll.xcodeproj/xcshareddata/xcschemes/EatUpAll.xcscheme
  iOS/EatUpAll/EatUpAll/AppDelegate.swift
  iOS/EatUpAll/EatUpAll/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Colors/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Colors/key_dark_gray.colorset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Colors/key_gray.colorset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Colors/key_green.colorset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Colors/key_light_gray.colorset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/logo.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/logo.imageset/logo_transparent.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/map.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/map.imageset/map.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/title.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/title.imageset/title.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/plastic.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/plastic.imageset/photo-1495556650867-99590cea3657.jpeg
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/polarbear1.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/polarbear1.imageset/photo-1593946460607-d1570da6268f.jpeg
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/polarbear2.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/donation/polarbear2.imageset/photo-1593946537961-421401bfb53c.jpeg
  iOS/EatUpAll/EatUpAll/Base.lproj/LaunchScreen.storyboard
  iOS/EatUpAll/EatUpAll/Donation/CollectionViewDataSources/DonationProjectCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.xib
  iOS/EatUpAll/EatUpAll/Donation/Delegates/ClosingDonationProjectCollectionViewDelegate.swift
  iOS/EatUpAll/EatUpAll/Donation/Delegates/WholeDonationProjectCollectionViewDelegate.swift
  iOS/EatUpAll/EatUpAll/Donation/Models/DonationProject.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCell.xib
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCollectionView.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.xib
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCollectionView.swift
  iOS/EatUpAll/EatUpAll/Extensions/UIView+Border.swift
  iOS/EatUpAll/EatUpAll/Extensions/UIView+Shadow.swift
  iOS/EatUpAll/EatUpAll/Extensions/UIViewController+loadFromNib.swift
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.xib
  iOS/EatUpAll/EatUpAll/Info.plist
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Error/NetworkError.swift
  iOS/EatUpAll/EatUpAll/Networks/NetworkDispatcher.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Request.swift
  iOS/EatUpAll/EatUpAll/Networks/Session+NetworkDispatcher.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/UseCase.swift
  iOS/EatUpAll/EatUpAll/SceneDelegate.swift
  iOS/EatUpAll/EatUpAll/TabBar/TabBarViewController.swift
  iOS/EatUpAll/EatUpAll/ViewModel/ViewModelBinding.swift
Labels: enhancement, iOS

#65 [메인] 오늘잘먹었습니다 데이터 페치
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.xib
  iOS/EatUpAll/EatUpAll/Models/TodayRecord.swift
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/TodayRecordRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/TodayRecordUseCase.swift
Labels: enhancement, iOS

#67 [메인] 사용자 개인 누적 데이터 바인딩
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.xib
  iOS/EatUpAll/EatUpAll/Models/PersonalTotalSaving.swift
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/PersonalTotalSavingRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/PersonalTotalSavingUseCase.swift
Labels: enhancement, iOS

#68 챌린지 뷰컨트롤러 UI 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/DataSources/ChallengeCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/Challenge/Views/ChallengeCell.swift
  iOS/EatUpAll/EatUpAll/Challenge/Views/ChallengeCell.xib
  iOS/EatUpAll/EatUpAll/Challenge/Views/ChallengeCollectionView.swift
  iOS/EatUpAll/EatUpAll/TabBar/TabBarViewController.swift
Labels: enhancement, iOS

#70 기부화면 네트워크 연결 및 셀 업데이트
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Donation/CollectionViewDataSources/DonationProjectCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Models/DonationProject.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCell.xib
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.xib
  iOS/EatUpAll/EatUpAll/Extensions/Int+DecimalStyle.swift
  iOS/EatUpAll/EatUpAll/Extensions/UIView+Animation.swift
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationClosingProjectRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationWholeProjectRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/DonationUseCase.swift
Labels: enhancement, iOS

#73 [메인] 이번주 빈그릇 데이터 필드값 변경
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Models/ChallengeEmptyPlate.swift
Labels: iOS

#74 기부 상세 화면 UI 구성 및 오토레이아웃 추가
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/DonationDetailViewController.swift
  iOS/EatUpAll/EatUpAll/DonationDetailViewController.xib
Labels: enhancement, iOS

#75 홈화면에 진행 중인 기부 프로젝트 추가
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.xib
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationClosingProjectRequest 2.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationWholeProjectRequest 2.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/DonationUseCase 2.swift
Labels: enhancement, iOS

#76 홈화면 및 기부 화면 데이터 업데이트 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/DataSources/ChallengeCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/Challenge/Views/ChallengeCell.swift
  iOS/EatUpAll/EatUpAll/Challenge/Views/ChallengeCell.xib
  iOS/EatUpAll/EatUpAll/Challenge/Views/ChallengeCollectionView.swift
  iOS/EatUpAll/EatUpAll/Donation/CollectionViewDataSources/DonationProjectCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Models/DonationProject.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/ClosingDonationProject/ClosingDonationProjectCell.xib
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationProject/DonationProjectCell.xib
  iOS/EatUpAll/EatUpAll/DonationDetailViewController.swift
  iOS/EatUpAll/EatUpAll/DonationDetailViewController.xib
  iOS/EatUpAll/EatUpAll/Extensions/Int+DecimalStyle.swift
  iOS/EatUpAll/EatUpAll/Extensions/UIView+Animation.swift
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.xib
  iOS/EatUpAll/EatUpAll/Home/Views/EmptyPlateCollectionViewCell.swift
  iOS/EatUpAll/EatUpAll/Home/Views/EmptyPlateCollectionViewCell.xib
  iOS/EatUpAll/EatUpAll/Models/ChallengeEmptyPlate.swift
  iOS/EatUpAll/EatUpAll/Models/PersonalTotalSaving.swift
  iOS/EatUpAll/EatUpAll/Models/TodayRecord.swift
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationClosingProjectRequest 2.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationClosingProjectRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationWholeProjectRequest 2.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationWholeProjectRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/EmptyPlateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/PersonalTotalSavingRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/TodayRecordRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Session+NetworkDispatcher.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/DonationUseCase 2.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/DonationUseCase.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/EmptyPlateUseCase.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/PersonalTotalSavingUseCase.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/TodayRecordUseCase.swift
  iOS/EatUpAll/EatUpAll/TabBar/TabBarViewController.swift
Labels: enhancement, iOS

#79 탭바 UI 및 아이콘 설정
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge-feed.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge-feed.imageset/challenge-feed-1.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge-feed.imageset/challenge-feed.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge.imageset/challenge-1.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge.imageset/challenge.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/donation.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/donation.imageset/donation-1.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/donation.imageset/donation.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/home.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/home.imageset/home-1.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/home.imageset/home.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/user.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/user.imageset/user-1.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/user.imageset/user.png
  iOS/EatUpAll/EatUpAll/TabBar/TabBarViewController.swift
Labels: enhancement, iOS

#81 [기부상세] 셀 누르면 기부 상세화면 띄우고 데이터 바인딩
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Donation/CollectionViewDataSources/DonationProjectCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.xib
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Delegates/ClosingDonationProjectCollectionViewDelegate.swift
  iOS/EatUpAll/EatUpAll/Donation/Delegates/WholeDonationProjectCollectionViewDelegate.swift
  iOS/EatUpAll/EatUpAll/Donation/Models/DonationDetail.swift
  iOS/EatUpAll/EatUpAll/DonationDetailViewController.swift
  iOS/EatUpAll/EatUpAll/Home/Models/ChallengeEmptyPlate.swift
  iOS/EatUpAll/EatUpAll/Home/Models/PersonalTotalSaving.swift
  iOS/EatUpAll/EatUpAll/Home/Models/TodayRecord.swift
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationProjectDetailRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Request.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/DonationProjectDetailUseCase.swift
Labels: enhancement, iOS

#84 탭바 챌린지 버튼 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.xib
  iOS/EatUpAll/EatUpAll/ChallengeFeed/DataSources/ChallengeCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.xib
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCollectionView.swift
  iOS/EatUpAll/EatUpAll/TabBar/Controllers/TabBarViewController.swift
Labels: enhancement, iOS

#86 [기부상세] 기부하기 기능 완료
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.xib
  iOS/EatUpAll/EatUpAll/Donation/Models/DonationDetail.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationDetail/DonateView.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationDetail/DonateView.xib
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/MyEcoPointRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/MyEcoPointUseCase.swift
Labels: enhancement, iOS

#88 카메라 촬영 기능 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/Views/ChallengeCameraButton.swift
  iOS/EatUpAll/EatUpAll/Info.plist
  iOS/EatUpAll/EatUpAll/TabBar/Controllers/TabBarViewController.swift
Labels: enhancement, iOS

#91 챌린지 인증 카메라 VC optional unwrapping 처리
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.swift
Labels: enhancement, iOS

#95 챌린지 인증 UI 수정
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/Views/ChallengeCameraButton.swift
  iOS/EatUpAll/EatUpAll/TabBar/Controllers/TabBarViewController.swift
Labels: enhancement, iOS

#96 기부 상세화면 및 챌린지 인증 카메라 촬영 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge-feed.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge-feed.imageset/challenge-feed-1.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge-feed.imageset/challenge-feed.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge.imageset/challenge-1.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/challenge.imageset/challenge.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/donation.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/donation.imageset/donation-1.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/donation.imageset/donation.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/home.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/home.imageset/home-1.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/home.imageset/home.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/user.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/user.imageset/user-1.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/tabbar/user.imageset/user.png
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/Views/ChallengeCameraButton.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.xib
  iOS/EatUpAll/EatUpAll/ChallengeFeed/DataSources/ChallengeCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.xib
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCollectionView.swift
  iOS/EatUpAll/EatUpAll/Donation/CollectionViewDataSources/DonationProjectCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.xib
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Delegates/ClosingDonationProjectCollectionViewDelegate.swift
  iOS/EatUpAll/EatUpAll/Donation/Delegates/WholeDonationProjectCollectionViewDelegate.swift
  iOS/EatUpAll/EatUpAll/Donation/Models/DonationDetail.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationDetail/DonateView.swift
  iOS/EatUpAll/EatUpAll/Donation/Views/DonationDetail/DonateView.xib
  iOS/EatUpAll/EatUpAll/DonationDetailViewController.swift
  iOS/EatUpAll/EatUpAll/Home/Models/ChallengeEmptyPlate.swift
  iOS/EatUpAll/EatUpAll/Home/Models/PersonalTotalSaving.swift
  iOS/EatUpAll/EatUpAll/Home/Models/TodayRecord.swift
  iOS/EatUpAll/EatUpAll/Info.plist
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationProjectDetailRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/MyEcoPointRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Request.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/DonationProjectDetailUseCase.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/MyEcoPointUseCase.swift
  iOS/EatUpAll/EatUpAll/TabBar/Controllers/TabBarViewController.swift
  iOS/EatUpAll/EatUpAll/TabBar/TabBarViewController.swift
Labels: enhancement, iOS

#98 챌린지 피드 네트워크 요청 및 셀 업데이트 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/DataSources/ChallengeCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Models/ChallengeEmptyPlate.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.xib
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/Models/ChallengeEmptyPlate.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/ChallengeEmptyPlateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/ChallengeEmptyPlateUseCase.swift
Labels: enhancement, iOS

#101 챌린지 피드 Refresh 기능 구현
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.swift
Labels: enhancement, iOS

#102 챌린지 피드 셀 업데이트 구현 및 새로고침 기능 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/DataSources/ChallengeCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Models/ChallengeEmptyPlate.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.xib
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/Models/ChallengeEmptyPlate.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/ChallengeEmptyPlateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/ChallengeEmptyPlateUseCase.swift
Labels: enhancement, iOS

#104 챌린지 피드 셀 shimmering 로딩 effect
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/ChallengeFeed/DataSources/ChallengeCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.xib
  iOS/EatUpAll/EatUpAll/Extensions/UIView+Shimmering.swift
Labels: enhancement, iOS

#107 [챌린지 상세] 화면 구성 및 데이터 바인딩, 좋아요 기능 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/map_pin.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/map_pin.imageset/map_pin-cutout.png
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeDetailViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeDetailViewController.xib
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/DataSources/ChallengeCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Models/ChallengeEmptyPlate.swift
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/AllEmptyPlateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/EmptyPlateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/LikeRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/WeeklyTopLikedEmptyPlateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/LikeUseCase.swift
Labels: enhancement, iOS

#110 챌린지 업로드 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.xib
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/ChallengeUploadRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/ChallengeNewPostUseCase.swift
Labels: enhancement, iOS

#111 챌린지 상세화면 및 챌린지 등록 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/map_pin.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/map_pin.imageset/map_pin-cutout.png
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.xib
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeDetailViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeDetailViewController.xib
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/DataSources/ChallengeCollectionViewDataSource.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Models/ChallengeEmptyPlate.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Views/ChallengeCell.xib
  iOS/EatUpAll/EatUpAll/Extensions/UIView+Shimmering.swift
  iOS/EatUpAll/EatUpAll/Home/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/AllEmptyPlateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/ChallengeUploadRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/EmptyPlateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/LikeRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/WeeklyTopLikedEmptyPlateRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/ChallengeNewPostUseCase.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/LikeUseCase.swift
Labels: enhancement, iOS

#114 런치스크린 이미지 추가
  iOS/EatUpAll/EatUpAll/Base.lproj/LaunchScreen.storyboard
Labels: iOS

#115 [메인] 튜토리얼 뷰 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialFirstView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialFirstView.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialSecondView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialSecondView.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialThirdView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialThirdView.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/WholeTutorialView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/WholeTutorialView.xib
Labels: enhancement, iOS

#116 마이페이지 기능 구현
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/coin.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/coin.imageset/coin.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/sprout.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/sprout.imageset/sprout.png
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.xib
  iOS/EatUpAll/EatUpAll/MyPage/Controllers/MyPageViewController.swift
  iOS/EatUpAll/EatUpAll/MyPage/Controllers/MyPageViewController.xib
  iOS/EatUpAll/EatUpAll/MyPage/Models/MyAccount.swift
  iOS/EatUpAll/EatUpAll/MyPage/Models/PointHistory.swift
  iOS/EatUpAll/EatUpAll/MyPage/Views/PointHistoryTableViewCell.swift
  iOS/EatUpAll/EatUpAll/MyPage/Views/PointHistoryTableViewCell.xib
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/MyAccountRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/PointHistoryRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/MyPageUseCase.swift
  iOS/EatUpAll/EatUpAll/TabBar/Controllers/TabBarViewController.swift
Labels: enhancement, iOS

#119 QR코드를 통해 챌린지 인증화면 전환
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/Models/Restaurant.swift
  iOS/EatUpAll/EatUpAll/Info.plist
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/RestaurantInfoRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/NetworkUseCase.swift
  iOS/EatUpAll/EatUpAll/SceneDelegate.swift
  iOS/EatUpAll/EatUpAll/TabBar/Controllers/TabBarViewController.swift
Labels: enhancement, iOS

#123 마이페이지 디테일 수정
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.xib
  iOS/EatUpAll/EatUpAll/Home/Views/EmptyPlateCollectionViewCell.swift
  iOS/EatUpAll/EatUpAll/Home/Views/EmptyPlateCollectionViewCell.xib
  iOS/EatUpAll/EatUpAll/MyPage/Controllers/MyPageViewController.xib
  iOS/EatUpAll/EatUpAll/MyPage/Views/PointHistoryTableViewCell.swift
Labels: iOS

#131 네트워크 인디케이터 추가
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeDetailViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeDetailViewController.xib
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.xib
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.xib
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.xib
  iOS/EatUpAll/EatUpAll/Home/Models/PersonalTotalSaving.swift
  iOS/EatUpAll/EatUpAll/MyPage/Controllers/MyPageViewController.swift
  iOS/EatUpAll/EatUpAll/MyPage/Controllers/MyPageViewController.xib
Labels: enhancement, iOS

#135 QR코드로 인증하는 챌린지 네트워크 구현 및 업로드 후 뷰컨트롤러 새로고침
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengePoint/ViewControllers/ChallengePointViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengePoint/ViewControllers/ChallengePointViewController.xib
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/MyPage/Controllers/MyPageViewController.swift
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/ChallengeNewPostUseCase.swift
  iOS/EatUpAll/EatUpAll/TabBar/Controllers/TabBarViewController.swift
  iOS/EatUpAll/EatUpAll/TabBar/Protocol/RefreshableProtocol.swift
Labels: enhancement, iOS

#139 새로고침 에러 수정
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.swift
  iOS/EatUpAll/EatUpAll/MyPage/Controllers/MyPageViewController.swift
Labels: bug, iOS

#140 챌린지 횟수 체크하여 막기 구현
  iOS/EatUpAll/EatUpAll/TabBar/Controllers/TabBarViewController.swift
Labels: enhancement, iOS

#142 [지도] 연계 식당 위치 표시
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Challenge/Models/Restaurant.swift
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Map/Annotation/RestaurantAnnotation.swift
  iOS/EatUpAll/EatUpAll/Map/Controllers/MapViewController.swift
  iOS/EatUpAll/EatUpAll/Map/Controllers/MapViewController.xib
  iOS/EatUpAll/EatUpAll/Map/Views/RestaurantAnnotationLabel.swift
  iOS/EatUpAll/EatUpAll/Map/Views/RestuarantAnnotationView.swift
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/NearRestaurantRequest.swift
Labels: enhancement, iOS

#143 UI 수정
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeDetailViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeDetailViewController.xib
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.xib
  iOS/EatUpAll/EatUpAll/Home/Views/EmptyPlateCollectionViewCell.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialFirstView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialFirstView.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialSecondView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialSecondView.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialThirdView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialThirdView.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/WholeTutorialView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/WholeTutorialView.xib
Labels: enhancement, iOS

#144 전체 기부 프로젝트 나오도록 request 수정
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationWholeProjectRequest.swift
Labels: iOS

#145 기부 detail ui
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.xib
Labels: enhancement, iOS

#146 최종 머지
  iOS/EatUpAll/EatUpAll.xcodeproj/project.pbxproj
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/coin.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/coin.imageset/coin.png
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/sprout.imageset/Contents.json
  iOS/EatUpAll/EatUpAll/Assets.xcassets/Images/sprout.imageset/sprout.png
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengeCameraViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.swift
  iOS/EatUpAll/EatUpAll/Challenge/Controllers/ChallengePreviewViewController.xib
  iOS/EatUpAll/EatUpAll/Challenge/Models/Restaurant.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeDetailViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeDetailViewController.xib
  iOS/EatUpAll/EatUpAll/ChallengeFeed/Controllers/ChallengeFeedViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengePoint/ViewControllers/ChallengePointViewController.swift
  iOS/EatUpAll/EatUpAll/ChallengePoint/ViewControllers/ChallengePointViewController.xib
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationDetailViewController.xib
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.swift
  iOS/EatUpAll/EatUpAll/Donation/Controllers/DonationViewController.xib
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.swift
  iOS/EatUpAll/EatUpAll/Home/Controllers/HomeViewController.xib
  iOS/EatUpAll/EatUpAll/Home/Models/PersonalTotalSaving.swift
  iOS/EatUpAll/EatUpAll/Home/Views/EmptyPlateCollectionViewCell.swift
  iOS/EatUpAll/EatUpAll/Home/Views/EmptyPlateCollectionViewCell.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialFirstView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialFirstView.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialSecondView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialSecondView.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialThirdView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/TutorialThirdView.xib
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/WholeTutorialView.swift
  iOS/EatUpAll/EatUpAll/Home/Views/Tutorials/WholeTutorialView.xib
  iOS/EatUpAll/EatUpAll/Info.plist
  iOS/EatUpAll/EatUpAll/Map/Annotation/RestaurantAnnotation.swift
  iOS/EatUpAll/EatUpAll/Map/Controllers/MapViewController.swift
  iOS/EatUpAll/EatUpAll/Map/Controllers/MapViewController.xib
  iOS/EatUpAll/EatUpAll/Map/Views/RestaurantAnnotationLabel.swift
  iOS/EatUpAll/EatUpAll/Map/Views/RestuarantAnnotationView.swift
  iOS/EatUpAll/EatUpAll/MyPage/Controllers/MyPageViewController.swift
  iOS/EatUpAll/EatUpAll/MyPage/Controllers/MyPageViewController.xib
  iOS/EatUpAll/EatUpAll/MyPage/Models/MyAccount.swift
  iOS/EatUpAll/EatUpAll/MyPage/Models/PointHistory.swift
  iOS/EatUpAll/EatUpAll/MyPage/Views/PointHistoryTableViewCell.swift
  iOS/EatUpAll/EatUpAll/MyPage/Views/PointHistoryTableViewCell.xib
  iOS/EatUpAll/EatUpAll/Networks/Endpoint.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/Donation/DonationWholeProjectRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/MyAccountRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/NearRestaurantRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/PointHistoryRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/Request/RestaurantInfoRequest.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/ChallengeNewPostUseCase.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/MyPageUseCase.swift
  iOS/EatUpAll/EatUpAll/Networks/UseCases/NetworkUseCase.swift
  iOS/EatUpAll/EatUpAll/SceneDelegate.swift
  iOS/EatUpAll/EatUpAll/TabBar/Controllers/TabBarViewController.swift
  iOS/EatUpAll/EatUpAll/TabBar/Protocol/RefreshableProtocol.swift
Labels: enhancement, iOS

#147 README 수정
  README.md
Labels: documentation
